body {
    overflow: hidden;
}

#calculator {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 400px;
    height: 450px;
    background-color: #BDBDBD;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #212121;
}

#display {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    border: 5px solid #757575;
    margin: 10px;
    overflow: hidden;
    word-break: break-all;
}

.all_buttons{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5px;
    margin-right: 5px;
}

.button, .equals {
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.clear, .zero {
    grid-column-start: span 2;
}

.number, .decimal {
    background-color: #512DA8;
    color: #FFFFFF;
}

.number:active, .decimal:active {
    background-color: #673AB7;
}

.operator, .equals {
    background-color: #F57C00;
    color: #212121;
}

.operator:active, .equals:active {
    background-color: #FF9800;
}

.clear, .delete {
    background-color: #c22929;
    color: #FFFFFF;
}

.clear:active, .delete:active {
    background-color: #F44336;
}